
/* -----------------------------------------------------------Base Styles --------------------- */
* {
    /* -------Base--------------------*/
	box-sizing: border-box;
}
html{
  background: url('../img/ksg1.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {
    /* -------Base--------------------*/
	font-family: 'Papyrus', 'fantasy';
	line-height: 1.6;
	color: #fff;;
	margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: black; */
}
ul {
    /* -------Base--------------------*/
  margin: 0;
  padding: 0;
  list-style: none;
}
.facts {
	list-style: circle;
}
p {
    /* -------Base--------------------*/
	font-size: .95em;
	margin-bottom: 1.8em;
}

a {
    /* -------Base--------------------*/
	text-decoration: none;
  outline:none;
}
img {
    /* -------Base--------------------*/
	max-width: 100%;
}
form {
  background-color: rgba(255,255,255,.9);
  border-radius: 8px;
  flex: 1;
  flex-direction: column;
  align-items: center;
	width: 100%;

}

/* --------------------------------------------------- Navigation ---------------------------------------------------------------------- */
.name {
    /* -------Base--------------------*/
	font-size: 1.35em;
	margin: 0;
	text-shadow: 2px 2px 4px #000000;
}
.navbar {
    /* -------Base--------------------*/
	margin-top: 5px;
	text-shadow: 2px 2px 4px #000000;
}
.name a,
.navbar a {
    /* -------Base--------------------*/
	text-align: center;
	display: block;
	padding: 10px 15px;
  color: #fff;
  font-size: 1.5em;
}
.navbar a {
    /* -------Base--------------------*/
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
}
.navbar a:hover {
    /* -------Base--------------------*/
	color: #f72f74;
}
.name a:hover {
    /* -------Base--------------------*/
	color: #f72f74;
}
/* --------------------------- Layout Containers -------------------------- */
.main-header {
    /* -------Base--------------------*/
	padding-top: .5em;
	padding-bottom: .5em;
  background-color: rgba(255,255,255,0.1);
  width: 100%;
  position: fixed;
  font-family: 'Papyrus', 'fantasy';
  color: #fff;
  z-index: 1000;
}
.banner,
.main-footer {
    /* -------Base--------------------*/
	text-align: center;
}
.banner {
    /* -------Base--------------------*/
	padding: 0em;
	margin-bottom: 0;
  margin-top: 20px;
  height: auto;
  font-family: 'Papyrus', 'fantasy';
  text-align: left;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 2em;


  /* -----------------------Flex--------------------*/

  flex-basis: 0;
  flex-grow: 1;
}


.banner img {
  width:550px;
	height:550px;
}

.col {
    /* -------Base--------------------*/
	padding-right: 1em;
	padding-left: 1em;
  border: 5px black;
  height: 500px;

/* -----------------------Flex--------------------*/
  /* justify-content: center;
  align-items: center; */
}

.main-footer {
    /* -------Base--------------------*/
	background-color: rgba(255,255,255,0.1);
	padding: 2em 0;
	margin-top: 30px;
  width: 100%;
  	font-family: 'Papyrus', 'fantasy';
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  flex-shrink: 0;
  height: 5em;
	position: fixed bottom;
}
/* -----------------------Flex--------------------*/
.row {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;

}

.primary {
  padding-top: 5em;
  padding-bottom: 5em;
}
.row h2 {
  font-size: 30px;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;

}

.secondary h2 {
  font-size: 30px;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;

}
.images {
  height: 70px;
  /* width: 70px; */
  padding-left: 2em;
  padding-right: 2em;
}

.profile-pic {
  border-radius: 10px;

}
.lang {
  color: black;
  font-size: 25px;
}
.bio {
  color: black;
  font-size: 18px;
	text-align: center;
}
.img p {
	color: black;
	text-align: center;
	width: 10em;;
}
.img li {
	float: left;
	padding-right: 2em;
	align-items: center;
}

#about,
#projects,
#contact {
	padding-top: 3em;
}


.secondary li {
	float: left;
	padding-right: 2em;
	list-style:
}
li {
	flex-direction: column;
justify-content: center;
}
/* ----------------------------------Button------------------------*/
.push_button {
	 position: relative;
	 width: 180px;
	 height: 40px;
	 text-align: center;
	 color: #fff;
	 text-decoration: none;
	 line-height: 43px;
	 font-family: 'Oswald', Helvetica;
	 display: block;
	 margin-bottom: 1.5em;
}
 .push_button:before {
	 background: #f0f0f0;
	 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0d0d0), to(#f0f0f0));
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 border-radius: 5px;
	 -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #fff;
	 -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #fff;
	 box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #fff;
	 position: absolute;
	 content: "";
	 left: -6px;
	 right: -6px;
	 top: -6px;
	 bottom: -10px;
	 z-index: -1;
}
 .push_button:active {
	 -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	 top: 5px;
}
 .push_button:active:before {
	 top: -11px;
	 bottom: -5px;
	 content: "";
}
 .code {
	 text-shadow: -1px -1px 0 #a84155;
	 background: #d25068;
	 border: 1px solid #d25068;
	 background-image: -webkit-linear-gradient(top, #f66c7b, #d25068);
	 background-image: -moz-linear-gradient(top, #f66c7b, #d25068);
	 background-image: -ms-linear-gradient(top, #f66c7b, #d25068);
	 background-image: -o-linear-gradient(top, #f66c7b, #d25068);
	 background-image: linear-gradient(to bottom, #f66c7b, #d25068);
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 border-radius: 5px;
	 -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #ad4257, 0 4px 2px rgba(0, 0, 0, .5);
	 -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #ad4257, 0 4px 2px rgba(0, 0, 0, .5);
	 box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #ad4257, 0 4px 2px rgba(0, 0, 0, .5);
}
 .code:hover {
	 background: #f66c7b;
	 background-image: -webkit-linear-gradient(top, #d25068, #f66c7b);
	 background-image: -moz-linear-gradient(top, #d25068, #f66c7b);
	 background-image: -ms-linear-gradient(top, #d25068, #f66c7b);
	 background-image: -o-linear-gradient(top, #d25068, #f66c7b);
	 background-image: linear-gradient(top, #d25068, #f66c7b);
}
 .app {
	 text-shadow: -1px -1px 0 #2c7982;
	 background: #3eacba;
	 border: 1px solid #379aa4;
	 background-image: -webkit-linear-gradient(top, #48c6d4, #3eacba);
	 background-image: -moz-linear-gradient(top, #48c6d4, #3eacba);
	 background-image: -ms-linear-gradient(top, #48c6d4, #3eacba);
	 background-image: -o-linear-gradient(top, #48c6d4, #3eacba);
	 background-image: linear-gradient(top, #48c6d4, #3eacba);
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 border-radius: 5px;
	 -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338a94, 0 4px 2px rgba(0, 0, 0, .5);
	 -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338a94, 0 4px 2px rgba(0, 0, 0, .5);
	 box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338a94, 0 4px 2px rgba(0, 0, 0, .5);
}
 .app:hover {
	 background: #48c6d4;
	 background-image: -webkit-linear-gradient(top, #3eacba, #48c6d4);
	 background-image: -moz-linear-gradient(top, #3eacba, #48c6d4);
	 background-image: -ms-linear-gradient(top, #3eacba, #48c6d4);
	 background-image: -o-linear-gradient(top, #3eacba, #48c6d4);
	 background-image: linear-gradient(top, #3eacba, #48c6d4);
}

.tertiary {
	padding-bottom: 2em;
}

/* Media Containers*/
@media  (max-width: 480px) {
	.main-header,
	.navbar {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	}
.img {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.banner {
	text-align: center;
	margin-top: 3em;
	font-size: 30px;
}
h2,
h3 {
	text-align: center;
}
form {
  background-color: rgba(255,255,255,.9);
  border-radius: 8px;
  flex: 1;
  flex-direction: column;
  align-items: center;
	justify-content: center;
	width: 100%;
}
.form-items{

}
.col {
flex: 1;
flex-direction: column;
justify-content: center;
align-items: center;
}

.row {
  flex-wrap: wrap;
}

}


@media (min-width: 300px) {
  /* -------Base--------------------*/
  .main-header{
    width: 100%;
  }
	.row {
		width: 90%;
		margin: 0 auto;
  }

/* -----------------------Flex--------------------*/
  .main-header,
  .navbar,
  .row,
  .col,
  .banner,
  .img,
	.secondary,
	.primary,
	.tertiary,
	.form-items,
  form,
	li {
  display: flex;
}
.main-header {
flex-direction: column;
align-items: center;
}
.img,
.navbar {
	flex-wrap: wrap;
}
.banner {
	margin-top: 8em;
}


.col {
flex: 1;
flex-direction: column;
justify-content: center;
align-items: center;
}

.row {
  flex-wrap: wrap;
}
}
@media (min-width: 750px) {
    /* -------Base--------------------*/
	.main-header{
    width: 100%;
  }

	.row {
		width: 80%;
		max-width: 1150px;
	}
/* -----------------------Flex--------------------*/
.main-header {
flex-direction: row;
justify-content: space-between;
flex-grow: 1;
}

.primary {
  flex-basis: 0;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.banner {
	margin-top: 3em;
}


}
