/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/* Base Styles -------------------- */
* {
    /* -------Base--------------------*/
	box-sizing: border-box;
}

body {
    /* -------Base--------------------*/
	line-height: 1.6;
	color: #fff;
	margin: 0;
  min-height: 100vh;
  background: -webkit-linear-gradient(left, #32292f, #70abaf);
  background: linear-gradient(to right, #32292f, #70abaf);
  font-family: 'Roboto', sans-serif;
}
form {

  padding: 10px 20px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  color: #705d56;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  font-weight: 300;
}
fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}


h2 {
  text-align: center;
}

a {
    /* -------Base--------------------*/
	text-decoration: none;
  color: #99e1d9;
}

p {
    /* -------Base--------------------*/
	font-size: .95em;
	margin-bottom: 1.8em;
}
/* --------------------------- Button --------------------------------- */
.glow {
    width: 220px;
    height: 3em;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow:active {
    color: #000
}

.glow:active:after {
    background: transparent;
}

.glow:hover:before {
    opacity: 1;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* --------------------------- Layout Containers -------------------------- */
.main-header {
    /* -------Base--------------------*/
	padding-top: .5em;
	padding-bottom: .5em;
  background-color: #32292f;
  width: 100%;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  z-index: 1000;

}

.main-footer {
    /* -------Base--------------------*/
	text-align: center;
}
.name {
    /* -------Base--------------------*/
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}
.col {
    /* -------Base--------------------*/
	padding-right: 1em;
	padding-left: 1em;
  border: 5px black;
  height: 1000px;
/* -----------------------Flex--------------------*/
  justify-content: center;
  align-items: center;
  width: 50%;
}
.main-footer {
    /* -------Base--------------------*/
	background-color: #32292f;
	padding: 2em 0;
	margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
/* -----------------------Flex--------------------*/
.row {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.form-items {
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 0;
}
.secondary {
  margin-top: 2em;
}

.signuperror {
  color: #32292f;
}

.signupsuccess {
  color: #86db90
}

/* Media Containers*/

@media (max-width: 450px) {
	.main-header,
	.navbar {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}
.primary {
margin-top: 15em;
}


/* form {
  margin-top: em;
} */
h2,
h3 {
	text-align: center;
}

}

@media (min-width: 300px) {
  /* -------Base--------------------*/
form {
  max-width: 450px;
}
  .main-header{
    width: 100%;
  }
	.row {
		width: 90%;
		margin: 0 auto;
  }
/* -----------------------Flex--------------------*/
  .main-header,
  .row,
  .col,
  .form-items {
  display: flex;
}
.main-header {
flex-direction: column;
align-items: center;
}

.col {
flex: 1;
flex-direction: column;
  flex-basis: 0;
}

.row {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

}
@media (min-width: 750px) {
    /* -------Base--------------------*/
	.main-header{
    width: 100%;
  }

	.row {
		width: 80%;
		max-width: 1150px;
	}
/* -----------------------Flex--------------------*/
.main-header {
flex-direction: row;
justify-content: center;
flex-grow: 1;
}

.col {
  flex-basis: 0;
  flex-direction: column;
}
.row {

  flex-direction: row;

}

}
